<app-navbar3 *ngIf="bolean"></app-navbar3>
<app-navbar2 *ngIf="!bolean"></app-navbar2>
<div class="panel-header" style="background-image: url('assets/img/bg19.jpg')">
  <div class="header text-center">
    <h2 class="title">Your Calendar</h2>
    <p class="category">
      <a target="_blank" href="https://fullcalendar.io/">Don't Forget Your Interview </a>
     
     
    </p>
  </div>
</div>
<div class="main-content" style="background-image: url('assets/img/bg19.jpg')">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card card-calendar">
        <div class="card-body">
          <div id='calendar'></div>
          <!-- <div id='destination-calendar'></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
