<app-navbar3></app-navbar3>
<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/project5.jpg') ;">
        </div>
        <div class="content-center">
            <div class="photo-container phot">
                <img src="assets/img/PROFIL.jpg" alt="">
           </div>
            <h2 class="title tex">{{datas.name}}</h2>
            <br/>
            <h2 class="category tex">{{datas.lastname}}</h2>
           
             </div>
        
    </div>

    <div class="section">
        <div class="container">
            <h3 class="title">EMAIL</h3>
            <h5 class="description text-center">{{cv.email}}</h5>
            <h3 class="title">PHONE</h3>
            <h5 class="description text-center">{{cv.phone}}</h5>
            <h3 class="title">Age</h3>
            <h5 class="description text-center">{{cv.age}} ans</h5>
            <h3 class="title">PROFIL PRESENTATION & SCHOOL BACKGROUND</h3>
            <h5 class="description text-center">{{cv.descprofil}}</h5>
            <h3 class="title">FIELD</h3>
            <h5 class="description text-center">{{cv.field}}</h5>
            <h3 class="title">STUDY LEVEL</h3>
            <h5 class="description text-center">{{cv.studylevel}}</h5>
            <h3 class="title">YEARS OF EXPERIENCE</h3>
            <h5 class="description text-center">{{cv.expyear}}</h5>
            <h3 class="title">PROFESIONNAL EXPERIENCE</h3>
            <h5 class="description text-center">{{cv.ProfExp}}</h5>
            <h3 class="title">HOME ADRESS</h3>
            <h5 class="description text-center">{{cv.adress}}</h5>
           
        </div>
    </div>
</div>
