<app-navbar></app-navbar>
<div class="page-header section-image">
    <div class="page-header-image" style="background-image:url('assets/img/bg19.jpg')"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons media-2_sound-wave"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Marketing</h5>
                            <p class="description">
                                We've created the marketing campaign of the website. It was a very interesting collaboration.
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons media-1_button-pause"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Fully Coded in HTML5</h5>
                            <p class="description">
                                We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-info">
                            <i class="now-ui-icons users_single-02"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Built Audience</h5>
                            <p class="description">
                                There is also a Fully ble CMS Admin Dashboard for this product.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mr-auto">
                    <div class="card card-signup">
                        <div class="card-body">
                            <h4 class="card-title text-center">Register</h4>
                            <div class="social text-center">
                               
                                <h5 class="card-description"> Campany </h5>
                            </div>
                            <form class="form" method="" action="" (ngSubmit)="onSubmit()" >
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                                  </div>
                                    <input type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="Name..." (focus)="focus=true" (blur)="focus=false">
                                </div>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="now-ui-icons text_caps-small"></i></span>
                                  </div>
                                    <input type="text" name="lasttname" [(ngModel)]="lastname" placeholder="Adress..." class="form-control" (focus)="focus1=true" (blur)="focus1=false">
                                </div>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"> <i class="now-ui-icons ui-1_email-85"></i></span>
                                  </div>
                                <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="Phone Number..." (focus)="focus2=true" (blur)="focus2=false">
                                </div>

                                <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="now-ui-icons ui-1_email-85"></i></span>
                                    </div>
                                  <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="Your Email..." (focus)="focus2=true" (blur)="focus2=false">
                                  </div>

                                 


                                <!-- If you want to add a checkbox to this form, uncomment this code -->
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox">
                                        <span class="form-check-sign"></span>
                                        I agree to the terms and
                                        <a href="#something">conditions</a>.
                                    </label>
                                </div>
                                <!-- <div class="card-footer text-center">


                                </div> -->
                                <input [routerLink]="['/views/login']" type="submit" value="Get started" class="btn btn-primary btn-round btn-lg">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>



<div class="pricing-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <h2 class="title">Pick the best plan for you</h2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-pricing card-plain">
                    <div class="card-body">
                        <h6 class="category">Enterprise</h6>
                        <h1 class="card-title">
                            <small>DT</small>59</h1>
                        <ul>
                            <li>
                                <b>10GB</b> Disk Space</li>
                            <li>
                                <b>100GB</b> Monthly Bandwidth</li>
                            <li>
                                <b>20</b> Email Accounts</li>
                            <li>
                                <b>Unlimited</b> subdomains</li>
                        </ul>
                        <a href="#pablo" class="btn btn-primary btn-round">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-pricing card-background card-raised" style="background-image: url('assets/img/pricing2.jpg')">
                    <div class="card-body">
                        <h6 class="category text-info">Professional</h6>
                        <h1 class="card-title">
                            <small>DT</small>29</h1>
                        <ul>
                            <li>
                                <b>5GB</b> Disk Space</li>
                            <li>
                                <b>50GB</b> Monthly Bandwidth</li>
                            <li>
                                <b>10</b> Email Accounts</li>
                            <li>
                                <b>Unlimited</b> subdomains</li>
                        </ul>
                        <a href="#pablo" class="btn btn-neutral btn-round">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-pricing card-plain">
                    <div class="card-body">
                        <h6 class="category">Standard</h6>
                        <h1 class="card-title">
                            <small>DT</small>17</h1>
                        <ul>
                            <li>
                                <b>2GB</b> Disk Space</li>
                            <li>
                                <b>25GB</b> Monthly Bandwidth</li>
                            <li>
                                <b>5</b> Email Accounts</li>
                            <li>
                                <b>Unlimited</b> subdomains</li>
                        </ul>
                        <a href="#pablo" class="btn btn-primary btn-round">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
